button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: rgb(var(--gray-02));
  padding: 0.125em 1em;
  margin: 0 0 1em 0;
  color: rgb(var(--button-text));
  font-size: 1em;
  font-family: var(--font-regular);
  min-height: 2.5em;
  line-height: 1;
  border: 0;
  border-top-width: var(--line-width);
  border-bottom-width: var(--line-width);
  border-style: solid;
  border-color: transparent;
  border-radius: var(--radius);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: none;
  transition: all var(--animation-speed-fast) ease-in-out;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: rgb(var(--gray-03));
  border-bottom-color: rgb(var(--gray-08));
  color: rgb(var(--button-text-hover-focus));
  outline: none;
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: rgb(var(--gray-04));
  border-bottom-color: rgb(var(--accent));
  color: rgb(var(--button-text-active));
  transition: none;
}

button[disabled],
.button[disabled],
button[disabled]:hover,
.button[disabled]:hover,
button[disabled]:focus,
.button[disabled]:focus,
button[disabled]:active,
.button[disabled]:active {
  background-color: rgb(var(--gray-02));
  border-color: transparent;
  color: rgb(var(--button-text-disabled));
  cursor: default;
}

.button-text {
  pointer-events: none;
}

button [class^="icon-"],
button [class*=" icon-"],
.button [class^="icon-"],
.button [class*=" icon-"] {
  font-size: 1.5em;
  line-height: 1;
}

.button.active {
  border-bottom-color: rgb(var(--accent));
  color: rgb(var(--button-text-active));
}

.button-small {
  font-size: 0.8em;
}

.button-block {
  display: flex;
  width: 100%;
}

button [class^="button-"],
button [class*=" button-"],
.button [class^="button-"],
.button [class*=" button-"] {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

button [class^="button-"]:first-child,
button [class*=" button-"]:first-child,
.button [class^="button-"]:first-child,
.button [class*=" button-"]:first-child {
  margin-left: 0;
}

button [class^="button-"]:last-child,
button [class*=" button-"]:last-child,
.button [class^="button-"]:last-child,
.button [class*=" button-"]:last-child {
  margin-right: 0;
}

.button-link {
  background-color: transparent;
  border: 0;
  color: rgb(var(--button-link-text));
}

.button-link:hover,
.button-link:focus {
  background-color: transparent;
  color: rgb(var(--button-link-text-hover-focus));
}

.button-link:active {
  background-color: transparent;
  color: rgb(var(--button-link-text-active));
}

.button-link[disabled] {
  background-color: transparent;
  color: transparent;
  pointer-events: none;
}

.button-link:hover[disabled],
.button-link:focus[disabled] {
  background-color: transparent;
  color: transparent;
}

.button-wrap {
  padding: 0.5em 0;
  position: relative;
  width: 100%;
}
