button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: rgb(var(--gray-02));
  background-color: rgb(var(--gray-18));
  padding: 0.125em 1em;
  margin: 0 0 1em 0;
  color: rgb(var(--gray-12));
  color: rgb(var(--gray-08));
  font-size: 1em;
  font-family: var(--font-regular);
  min-height: 2.5em;
  line-height: 1;
  border: 0;
  border-top-width: var(--line-width);
  border-bottom-width: var(--line-width);
  border-style: solid;
  border-color: transparent;
  border-radius: var(--radius);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: none;
  transition: all var(--animation-speed-fast) ease-in-out;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: rgb(var(--gray-03));
  background-color: rgb(var(--gray-17));
  border-bottom-color: rgb(var(--gray-08));
  border-bottom-color: rgb(var(--gray-12));
  color: rgb(var(--white));
  color: rgb(var(--black));
  outline: none;
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: rgb(var(--gray-04));
  background-color: rgb(var(--gray-16));
  border-bottom-color: rgb(var(--accent));
  color: rgb(var(--white));
  color: rgb(var(--black));
  transition: none;
}

button[disabled],
.button[disabled],
button[disabled]:hover,
.button[disabled]:hover,
button[disabled]:focus,
.button[disabled]:focus,
button[disabled]:active,
.button[disabled]:active {
  background-color: rgb(var(--gray-02));
  background-color: rgb(var(--gray-18));
  border-color: transparent;
  color: rgb(var(--gray-04));
  color: rgb(var(--gray-16));
  cursor: default;
}

.button-text {
  pointer-events: none;
}

button [class^="icon-"],
button [class*=" icon-"],
.button [class^="icon-"],
.button [class*=" icon-"] {
  font-size: 1.5em;
  line-height: 1;
}

.button.active {
  border-bottom-color: rgb(var(--accent));
  color: rgb(var(--white));
  color: rgb(var(--black));
}

.button-small {
  font-size: 0.8em;
}

.button-block {
  display: flex;
  width: 100%;
}

.button-group {
  margin: 0 0 1em 0;
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
}

.button-group button,
.button-group .button {
  margin: 0;
  border-radius: 0;
}

.button-group>button:first-child,
.button-group>.button:first-child {
  border-radius: var(--radius) 0 0 var(--radius);
}

.button-group>button:last-child,
.button-group>.button:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}

.button-group.nested-button *:first-child .button {
  border-radius: var(--radius) 0 0 var(--radius);
}

.button-group.nested-button *:last-child .button {
  border-radius: 0 var(--radius) var(--radius) 0;
}

button [class^="button-"],
button [class*=" button-"],
.button [class^="button-"],
.button [class*=" button-"] {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

button [class^="button-"]:first-child,
button [class*=" button-"]:first-child,
.button [class^="button-"]:first-child,
.button [class*=" button-"]:first-child {
  margin-left: 0;
}

button [class^="button-"]:last-child,
button [class*=" button-"]:last-child,
.button [class^="button-"]:last-child,
.button [class*=" button-"]:last-child {
  margin-right: 0;
}

.button-link {
  background-color: transparent;
  border: 0;
  color: rgb(var(--gray-10));
}

.button-link[disabled] {
  background-color: transparent;
  color: transparent;
  pointer-events: none;
}

.button-link:hover[disabled],
.button-link:focus[disabled] {
  background-color: transparent;
  color: transparent;
}

.button-link:hover,
.button-link:focus {
  background-color: transparent;
  color: rgb(var(--gray-14));
}

.button-link:active {
  background-color: transparent;
  color: rgb(var(--gray-18));
}
