.clock {
  margin: 0;
  padding: 0;
  border-radius: var(--radius);
  font-size: 1em;
  font-family: var(--font-fjalla);
  color: rgb(var(--style-neutral-text));
  width: 100%;
  min-height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.clock-separator,
.clock-hours,
.clock-minutes,
.clock-seconds,
.clock-meridiem {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-separator {
  min-width: 0.5em;
  color: rgb(var(--accent));
}

.clock-hours,
.clock-minutes,
.clock-seconds,
.clock-meridiem {
  min-width: 1.25em;
}

.clock [class^="clock-"]:not(:first-child),
.clock [class*=" clock-"]:not(:first-child) {
  margin-left: 0.125em;
}

.clock [class^="clock-"]:not(:last-child),
.clock [class*=" clock-"]:not(:last-child) {
  margin-right: 0.125em;
}

.clock-hours {
  color: rgb(var(--style-neutral-text));
}

.clock-minutes,
.clock-seconds,
.clock-meridiem {
  color: rgb(var(--gray-19));
}
