.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: var(--layout-width);
}

.container-edge {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(var(--layout-width) + var(--gutter) * 4);
  height: 100vh;
  transform: translate(-50%, 0);
  z-index: var(--z-container-edge);
  pointer-events: none;
  border-left: var(--line-width) solid rgb(var(--accent));
  border-right: var(--line-width) solid rgb(var(--accent));
}

@media (min-width: 550px) {}

@media (min-width: 900px) {}

@media (min-width: 1100px) {}

@media (min-width: 1600px) {}

@media (min-width: 1600px) {}
