.date {
  margin: 0;
  padding: 0;
  border-radius: var(--radius);
  font-size: 1em;
  font-family: var(--font-fjalla);
  color: rgb(var(--style-neutral-text));
  width: 100%;
  min-height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.date-separator,
.date-date,
.date-day,
.date-month,
.date-year {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.date-separator {
  justify-content: center;
  min-width: 0.5em;
  color: rgb(var(--accent));
}

.date-date,
.date-day,
.date-month,
.date-year {
  justify-content: center;
}

.date [class^="date-"]:not(:first-child):not([class^="date-separator"]),
.date [class*=" date-"]:not(:first-child):not([class*=" date-separator"]) {
  margin-left: 0.2em;
}

.date [class^="date-"]:not(:last-child):not([class^="date-separator"]),
.date [class*=" date-"]:not(:last-child):not([class*=" date-separator"]) {
  margin-right: 0.2em;
}

.date-day {
  color: rgb(var(--style-neutral-text));
}

.date-date,
.date-month,
.date-year {
  color: rgb(var(--gray-16));
}
