.edge {
  background-color: rgba(var(--theme-accent), 0.10);
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: var(--theme-radius);
  box-shadow: inset 0 0 0 var(--line-width) rgb(var(--theme-accent)), inset 0 0 0 calc(var(--line-width) * 4) rgba(var(--theme-accent), 0.1), inset 0 0 0 calc(var(--line-width) * 8) rgba(var(--theme-accent), 0.1);
  z-index: var(--z-index-edge);
  pointer-events: none;
  transition: opacity var(--animation-speed-fast) ease-in-out;
}
