.greeting {
  margin: 0;
  padding: 0;
  border-radius: var(--radius);
  font-size: 1em;
  font-family: var(--font-fjalla);
  color: rgb(var(--white));
  width: 100%;
  min-height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.greeting-item {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
