.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  justify-content: center;
  align-items: start;
}

.grid-item-head {
  padding: 2em 2em 1em 2em;
  width: 100%;
}

.grid-item-body {
  padding: 2em 2em 50vh 2em;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, minmax(1em, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}

@media (min-width: 700px) {
  .grid-item-body {
    grid-template-columns: repeat(3, minmax(1em, 1fr));
  }
}

@media (min-width: 1000px) {

  .grid-item-head,
  .grid-item-body {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .grid-item-body {
    grid-template-columns: repeat(4, minmax(1em, 1fr));
  }
}

@media (min-width: 1100px) {
  .grid-item-head {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .grid-item-body {
    grid-template-columns: repeat(5, minmax(1em, 1fr));
  }
}

@media (min-width: 1600px) {

  .grid-item-head,
  .grid-item-body {
    padding-left: 14vw;
    padding-right: 14vw;
  }

  .grid-item-body {
    grid-template-columns: repeat(6, minmax(1em, 1fr));
  }
}

@media (min-width: 1900px) {
  .grid-item-body {
    grid-template-columns: repeat(7, minmax(1em, 1fr));
  }
}

@media (min-width: 2200px) {
  .grid-item-body {
    grid-template-columns: repeat(8, minmax(1em, 1fr));
  }
}
