.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  justify-content: center;
  align-items: start;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
}

.grid-item-head {
  width: 100%;
}

.grid-item-head .grid-container {
  margin-top: 3em;
  margin-bottom: 2em;
}

.grid-item-body {
  padding-top: 1em;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.grid-item-body .grid-container {
  padding-bottom: 50vh;
}

.is-layout-fixed .grid-container {
  width: calc(100vw - 4em);
}

.is-layout-fluid .grid-container {
  width: calc(100vw - 4em);
}

@media (min-width: 550px) {
  .is-layout-fixed .grid-container {
    width: 80vw;
  }
}

@media (min-width: 900px) {}

@media (min-width: 1000px) {
  .is-layout-fixed .grid-container {
    width: 75vw;
  }
}

@media (min-width: 1600px) {
  .is-layout-fixed .grid-container {
    width: 70vw;
  }
}

@media (min-width: 1600px) {}
