.header {
  width: 100%;
}

.is-link .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
}

.is-link .header:before {
  background-color: var(--background);
  background-image: url("../20180116194717.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  content: "";
  width: 100%;
  height: calc(100% - 1em);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-area {
  margin: calc(var(--gutter) * 4) calc(var(--gutter) * -1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  /* display: grid; */
  /* grid-template-columns: auto 1fr auto auto auto; */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}

.header-item {
  margin: var(--gutter);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.is-alignment-left .header-area {
  justify-content: flex-start;
}

.is-alignment-center .header-area {
  justify-content: center;
}

.is-alignment-right .header-area {
  justify-content: flex-end;
}

.is-layout-thin.is-search-grow .header-search,
.is-search-grow .header-search {
  flex-grow: 1;
  flex-basis: 100%;
}

@media (min-width: 550px) {
  .is-search-grow .header-search {
    flex-basis: initial;
  }
}

.header-search {
  width: 15vw;
  min-width: 15em;
}

.header-date,
.header-clock,
.header-search,
.header-edit-add,
.header-accent {
  display: none;
}

.is-search .header-search,
.is-date .header-date,
.is-clock .header-clock,
.is-search-edit-add .header-edit-add,
.is-search-accent .header-accent {
  display: flex;
}
