.head {
  --gutter: 0.5em;
  margin: 0 calc(var(--gutter) * -1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.head-item {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.head-grow {
  flex-grow: 1;
}
