.header {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: var(--z-index-header);
}

.is-header-area-alignment-horizontal-left .header {
  justify-content: flex-start;
}

.is-header-area-alignment-horizontal-center .header {
  justify-content: center;
}

.is-header-area-alignment-horizontal-right .header {
  justify-content: flex-end;
}

.is-bookmarks-show-link .header {
  position: sticky;
  top: 0;
  left: 0;
}

.header-shade,
.header-border {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.is-header-shade-style-scroll .header-shade {
  transition: background-color var(--animation-speed-slow) ease-in-out;
  animation: none;
}

.is-header-shade-show .header-shade {
  background-color: rgb(var(--header-shade-color));
  opacity: var(--header-shade-opacity);
}

.is-header-shade-border-top-show .header-border {
  border-top: var(--header-border-width-top) solid rgb(var(--accent));
}

.is-header-shade-border-bottom-show .header-border {
  border-bottom: var(--header-border-width-bottom) solid rgb(var(--accent));
}

.header-area {
  padding-top: calc(var(--gutter) * 3 + var(--header-shade-padding-top));
  padding-bottom: calc(var(--gutter) * 3 + var(--header-shade-padding-bottom));
  padding-left: calc(var(--gutter) * 3);
  padding-right: calc(var(--gutter) * 3);
  position: relative;
  width: var(--header-area-width);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.is-header-items-alignment-horizontal-left .header-area {
  justify-content: flex-start;
}

.is-header-items-alignment-horizontal-center .header-area {
  justify-content: center;
}

.is-header-items-alignment-horizontal-right .header-area {
  justify-content: flex-end;
}

.is-bookmarks-show-link .header-area {
  padding-bottom: calc(var(--gutter) * 2 + var(--header-shade-padding-bottom));
}

.is-header-shade-style-always .header-area {
  padding-bottom: calc(var(--gutter) * 3 + var(--header-shade-padding-bottom));
}

.is-header-search-text-align-left .header-search-input {
  text-align: left;
}

.is-header-search-text-align-center .header-search-input {
  text-align: center;
}

.is-header-search-text-align-right .header-search-input {
  text-align: right;
}

.is-header-searching .header-search-input[type="text"] {
  padding-right: 3.5em;
}

.header-search-clear {
  position: absolute;
  top: 0;
  right: 0;
}

.header-item {
  margin: var(--gutter);
  max-width: calc(100% - var(--gutter) * 2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.header-search {
  width: var(--header-search-width);
}

.is-header-search-width-auto .header-search {
  flex-grow: 1;
  min-width: 10em;
}

.is-header-search-width-custom .header-search {
  width: var(--header-search-width);
}

.header-date,
.header-clock,
.header-search,
.header-edit-add,
.header-accent,
.header-greeting,
.header-transitional,
.header-menu {
  display: none;
}

.is-header-search-show .header-search,
.is-header-date-show .header-date,
.is-header-clock-show .header-clock,
.is-header-edit-add .header-edit-add,
.is-header-accent .header-accent,
.is-header-greeting .header-greeting,
.is-header-transitional .header-transitional,
.is-menu .header-menu {
  display: flex;
}
