.head {
  margin: 0 calc(var(--gutter) * -1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.head-item {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.is-alignment-left .head {
  justify-content: flex-start;
}

.is-alignment-center .head {
  justify-content: center;
}

.is-alignment-right .head {
  justify-content: flex-end;
}

.head-search {
  display: none;
  width: 20vw;
  min-width: 20em;
}

.is-search .head-search {
  display: flex;
}

.is-search-grow .head-search {
  flex-grow: 1;
}

.head-clock {
  display: none;
}

.is-clock .head-clock {
  display: flex;
}
