.header {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: var(--z-index-header);
}

.is-header-area-alignment-horizontal-left .header {
  justify-content: flex-start;
}

.is-header-area-alignment-horizontal-center .header {
  justify-content: center;
}

.is-header-area-alignment-horizontal-right .header {
  justify-content: flex-end;
}

.is-link-show .header {
  position: sticky;
  top: 0;
  left: 0;
}

.header-area {
  padding-top: calc(var(--gutter) * var(--layout-padding-multiplier) + var(--header-padding-top));
  padding-bottom: calc(var(--gutter) * var(--layout-padding-multiplier) + var(--header-padding-bottom));
  padding-left: calc(var(--gutter) * var(--layout-padding-multiplier));
  padding-right: calc(var(--gutter) * var(--layout-padding-multiplier));
  position: relative;
  width: var(--header-area-width);
}

.is-header-border-top-show .header-area {
  border-top: var(--header-border-width-top) solid rgb(var(--theme-accent));
}

.is-header-border-bottom-show .header-area {
  border-bottom: var(--header-border-width-bottom) solid rgb(var(--theme-accent));
}

.is-header-shade-radius .header-area {
  border-radius: calc(var(--theme-radius) * 4);
}

.is-header-shade-style-scroll .header-area {
  transition: background-color var(--animation-speed-slow) ease-in-out;
  animation: none;
}

.is-header-shade-show .header-area {
  background-color: rgba(var(--header-shade-color), var(--header-shade-opacity));
}

.is-header-search-text-align-left .header-search-input {
  text-align: left;
}

.is-header-search-text-align-center .header-search-input {
  text-align: center;
}

.is-header-search-text-align-right .header-search-input {
  text-align: right;
}

.is-header-searching .header-search-input[type="text"] {
  padding-right: 3.5em;
}

.header-search-clear {
  position: absolute;
  top: 0;
  right: 0;
}

.header-item-grid {
  margin: calc(-1 * calc(var(--gutter) * calc(var(--layout-gutter-multiplier) / 2)));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  pointer-events: none;
}

.is-header-item-alignment-horizontal-left .header-item-grid {
  justify-content: flex-start;
}

.is-header-item-alignment-horizontal-center .header-item-grid {
  justify-content: center;
}

.is-header-item-alignment-horizontal-right .header-item-grid {
  justify-content: flex-end;
}

.header-item {
  margin: calc(var(--gutter) * calc(var(--layout-gutter-multiplier) / 2));
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  pointer-events: all;
}

.is-header-search-style-auto .header-search {
  flex-grow: 1;
  min-width: 10em;
}

.is-header-search-style-custom .header-search {
  width: var(--header-search-width);
}

.header-date {
  font-size: var(--header-date-size);
}

.header-clock {
  font-size: var(--header-clock-size);
}

.header-search {
  font-size: var(--header-search-size);
}

.header-button {
  font-size: var(--header-button-size);
}

.header-greeting {
  font-size: var(--header-greeting-size);
}

.header-transitional {
  font-size: var(--header-transitional-size);
}

.header-date,
.header-clock,
.header-search,
.header-edit-add,
.header-accent,
.header-greeting,
.header-transitional,
.header-menu {
  display: none;
}

.is-header-search-show .header-search,
.is-header-date-show .header-date,
.is-header-clock-show .header-clock,
.is-header-button-edit-add-show .header-edit-add,
.is-header-button-accent-show .header-accent,
.is-header-greeting-show .header-greeting,
.is-header-transitional-show .header-transitional,
.is-menu .header-menu {
  display: flex;
}
