.link-item {
  width: 100%;
  height: var(--link-height);
  font-size: 1em;
  position: relative;
  display: block;
  transform: scale(1);
  transition: all var(--animation-speed-medium) ease-in-out;
}

.link-item:focus,
.link-item:hover {
  transform: scale(1.06);
}

.link-item:active {
  transform: scale(1.04);
  transition: none;
}

.link-panel-front {
  background-color: var(--gray-02);
  border-radius: var(--radius);
  padding: 0 1em;
  width: 100%;
  height: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: relative;
  user-select: none;
  transition: all var(--animation-speed-medium) ease-in-out;
}

.link-panel-front:focus {
  background-color: var(--gray-03);
  outline: 0;
}

.link-item:hover .link-panel-front,
.link-item:focus .link-panel-front {
  text-decoration: none;
  outline: 0;
  background-color: var(--gray-03);
  height: calc(100% - var(--url-height));
  box-shadow: 0 2px 1em 0 rgba(0, 0, 0, 0.4);
}

.link-panel-back {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.link-panel-back:before {
  content: "";
  background-color: rgb(var(--accent));
  border-radius: var(--radius);
  width: calc(100% - 0.5em);
  height: calc(100% - 0.25em);
  position: absolute;
  bottom: 0;
  left: 0.25em;
  z-index: -1;
}

.link-control {
  margin: 0 0.25em;
  height: 0;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  transition: all var(--animation-speed-medium) ease-in-out;
}

.link-control-item {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  color: var(--gray-02);
  flex-grow: 1;
  flex-basis: 50%;
}

.link-control-item:first-child {
  border-radius: 0 0 0 var(--radius);
}

.link-control-item:last-child {
  border-radius: 0 0 var(--radius) 0
}

.link-control-item:focus,
.link-control-item:hover {
  color: var(--black);
  background-color: rgba(255, 255, 255, 0.2);
}

.link-control-item:active {
  color: var(--black);
  background-color: rgba(255, 255, 255, 0.4);
  transition: none;
}

.link-url {
  padding: 0 1em;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--animation-speed-medium) ease-in-out;
}

.link-item:hover .link-url,
.link-item:focus .link-url {
  height: var(--url-height);
}

.link-url-text {
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  color: var(--black);
  font-family: var(--font-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-letter {
  margin: 0;
  font-size: 2em;
  text-align: center;
  font-family: var(--font-fjalla);
  color: rgb(var(--accent));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-item:hover .link-letter,
.link-item:focus .link-letter {
  color: var(--white);
}

.link-name {
  margin: 0;
  font-size: 0.9em;
  text-align: center;
  font-family: var(--font-regular);
  color: var(--gray-08);
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  text-overflow: ellipsis;
}

.link-item:hover .link-name,
.link-item:focus .link-name {
  color: var(--white);
}

.is-edit .link-panel-front,
.is-edit .link-item:hover .link-panel-front,
.is-edit .link-item:focus .link-panel-front {
  height: calc(100% - var(--edit-height));
  box-shadow: 0 2px 1em 0 rgba(0, 0, 0, 0.4);
}

.is-edit .link-control {
  height: var(--edit-height);
}

.is-edit .link-item:hover .link-url,
.is-edit .link-item:focus .link-url {
  height: 0;
}

height: var(--edit-height);
}

.is-edit .link-control-item {
  pointer-events: all;
}
