.shade {
  /* background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0, rgba(var(--accent), 0.6) 100%); */
  background-color: rgba(var(--accent), 0.5);
  /* background-color: rgba(var(--black), 0.3); */
  position: fixed;
  top: -1em;
  left: -1em;
  width: calc(100% + 2em);
  height: calc(100% + 2em);
  opacity: 0;
  transition: opacity var(--animation-speed-fast) ease-in-out;
  z-index: var(--z-index-shade);
}
