.m-shade {
  background-color: rgba(var(--accent), 0.5);
  position: fixed;
  top: -1em;
  left: -1em;
  width: calc(100% + 2em);
  height: calc(100% + 2em);
  opacity: 0.5;
  z-index: 1000;
  transition: opacity var(--animation-speed-slow);
}
