.shade {
  background-color: rgba(var(--accent), 0.2);
  position: fixed;
  top: -1em;
  left: -1em;
  width: calc(100% + 2em);
  height: calc(100% + 2em);
  opacity: 0;
  transition: opacity var(--animation-speed-fast) ease-in-out;
  z-index: var(--z-index-shade);
}
