.shade {
  /* background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0, rgba(var(--accent), 0.6) 100%); */
  background-color: rgba(var(--accent), 0.5);
  /* background-color: rgba(var(--black), 0.5); */
  /* box-shadow: 0 0 5em 0 rgba(var(--accent), 1) inset; */
  position: fixed;
  top: -1em;
  left: -1em;
  width: calc(100% + 2em);
  height: calc(100% + 2em);
  opacity: 0;
  transition: opacity var(--animation-speed-fast) ease-in-out, background-color var(--animation-speed-fast) ease-in-out;
  z-index: var(--z-index-shade);
}

.is-background-image .shade {
  background-color: rgba(var(--black), 0.5);
}
