.theme {
  position: relative;
}

.theme-label.button {
  position: relative;
  padding-right: 2.25em;
}

.theme-label:before {
  background-color: rgb(var(--accent));
  content: "";
  border-radius: 50%;
  position: absolute;
  right: 0.5em;
  width: 1em;
  height: 1em;
  z-index: 1;
  box-shadow: 0 0 0.25em 0 rgba(var(--accent), 0.6), 0 0 0.5em 0 rgba(var(--accent), 0.4);
}

.theme-input[type="color"] {
  opacity: 0;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.theme-input[type="color"]:focus+.theme-label {
  background-color: var(--gray-03);
  border-bottom-color: rgb(var(--accent));
  color: var(--white);
  outline: 0;
}
