.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
}

.list-unstyled li {
  list-style-type: none;
}

.list-inline li {
  display: inline-block;
}

.small {
  font-size: 0.8em;
}

.muted {
  color: rgb(var(--gray-12));
  color: rgb(var(--gray-08));
}
