.showcase {
  padding: 4em;
  width: 100vw;
  min-height: 100vh;
  z-index: var(--z-index-showcase);
}

.showcase {
  display: grid;
  gap: 4em;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "side content"
}

.showcase-side {
  grid-area: side;
}

.showcase-content {
  grid-area: content;
}