<div id="menu-content-layout-alignment" class="menu-content-item">
  <div class="menu-item-header">
    <h1 class="menu-item-header-text">Alignment</h1>
  </div>
  <div class="menu-item-form">
    <div class="form-wrap">
      <label>Area alignment</label>
    </div>
    <div class="form-wrap">
      <div class="form-grid form-grid-3x3 control-layout-alignment-grid">
        <div class="form-wrap">
          <input id="control-layout-alignment-topleft" class="control-layout-alignment-topleft" type="radio" name="control-layout-alignment" value="topleft" tabindex="-1">
          <label for="control-layout-alignment-topleft"><span class="label-icon"></span> <span class="sr-only">Top left</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-topcenter" class="control-layout-alignment-topcenter" type="radio" name="control-layout-alignment" value="topcenter" tabindex="-1">
          <label for="control-layout-alignment-topcenter"><span class="label-icon"></span> <span class="sr-only">Top center</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-topright" class="control-layout-alignment-topright" type="radio" name="control-layout-alignment" value="topright" tabindex="-1">
          <label for="control-layout-alignment-topright"><span class="label-icon"></span> <span class="sr-only">Top right</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-centerleft" class="control-layout-alignment-centerleft" type="radio" name="control-layout-alignment" value="centerleft" tabindex="-1">
          <label for="control-layout-alignment-centerleft"><span class="label-icon"></span> <span class="sr-only">Center left</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-centercenter" class="control-layout-alignment-centercenter" type="radio" name="control-layout-alignment" value="centercenter" tabindex="-1">
          <label for="control-layout-alignment-centercenter"><span class="label-icon"></span> <span class="sr-only">Center center</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-centerright" class="control-layout-alignment-centerright" type="radio" name="control-layout-alignment" value="centerright" tabindex="-1">
          <label for="control-layout-alignment-centerright"><span class="label-icon"></span> <span class="sr-only">Center right</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-bottomleft" class="control-layout-alignment-bottomleft" type="radio" name="control-layout-alignment" value="bottomleft" tabindex="-1">
          <label for="control-layout-alignment-bottomleft"><span class="label-icon"></span> <span class="sr-only">Bottom left</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-bottomcenter" class="control-layout-alignment-bottomcenter" type="radio" name="control-layout-alignment" value="bottomcenter" tabindex="-1">
          <label for="control-layout-alignment-bottomcenter"><span class="label-icon"></span> <span class="sr-only">Bottom Center</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-bottomright" class="control-layout-alignment-bottomright" type="radio" name="control-layout-alignment" value="bottomright" tabindex="-1">
          <label for="control-layout-alignment-bottomright"><span class="label-icon"></span> <span class="sr-only">Bottom right</span></label>
        </div>
      </div>
    </div>
    <div class="form-helper">
      <p class="control-layout-alignment-helper form-helper-item">Effects may not be visible if the Layout Area is full width or if Bookmarks fill the page.</p>
    </div>
    <hr>
    <div class="form-wrap">
      <input id="control-layout-direction-horizontal" class="control-layout-direction-horizontal" type="radio" name="control-layout-direction" value="horizontal" tabindex="-1">
      <label for="control-layout-direction-horizontal">
        <span class="label-icon"></span>
        <span class="label-block">
          <span class="label-block-item">Align horizontal</span>
          <span class="label-block-item small muted">Stack the Header and Bookmarks in a row side by side.</span>
        </span>
      </label>
    </div>
    <div class="form-wrap">
      <input id="control-layout-direction-vertical" class="control-layout-direction-vertical" type="radio" name="control-layout-direction" value="vertical" tabindex="-1">
      <label for="control-layout-direction-vertical">
        <span class="label-icon"></span>
        <span class="label-block">
          <span class="label-block-item">Align vertical</span>
          <span class="label-block-item small muted">Stack the Header and Bookmarks in a column one above the other.</span>
        </span>
      </label>
    </div>
    <hr>
    <div class="form-wrap">
      <input id="control-layout-order-headerlink" class="control-layout-order-headerlink" type="radio" name="control-layout-order" value="headerlink" tabindex="-1">
      <label for="control-layout-order-headerlink">
        <span class="label-icon"></span>
        <span class="label-block">
          <span class="label-block-item">Header then Bookmarks</span>
          <span class="label-block-item small muted">Order the Header area to appear before the Bookmarks area.</span>
        </span>
      </label>
    </div>
    <div class="form-wrap">
      <input id="control-layout-order-linkheader" class="control-layout-order-linkheader" type="radio" name="control-layout-order" value="linkheader" tabindex="-1">
      <label for="control-layout-order-linkheader">
        <span class="label-icon"></span>
        <span class="label-block">
          <span class="label-block-item">Bookmarks then Header</span>
          <span class="label-block-item small muted">Order the Bookmarks area to appear before the Header area.</span>
        </span>
      </label>
    </div>
    <div class="form-helper">
      <p class="control-layout-order-helper form-helper-item">Only available when Bookmarks are shown.</p>
    </div>
  </div>
</div>
