<div id="menu-content-layout-area" class="menu-content-item">
  <div class="menu-item-header">
    <h1 class="menu-item-header-text">Area</h1>
  </div>
  <div class="menu-item-form">
    <div class="form-wrap">
      <label for="control-layout-width-range">Width</label>
      <div class="form-group form-group-block">
        <input id="control-layout-width-range" class="control-layout-width-range mr-3" type="range" value="0" tabindex="-1">
        <input class="control-layout-width-number form-group-item-medium form-group-radius-left" type="number" value="0" tabindex="-1">
        <button class="control-layout-width-default button" tabindex="-1" title="Reset to default"><span class="icon-replay"></span></button>
      </div>
    </div>
    <hr>
    <div class="form-wrap">
      <label>Area alignment</label>
    </div>
    <div class="form-wrap">
      <div class="form-grid form-grid-3x3 control-layout-alignment-grid">
        <div class="form-wrap">
          <input id="control-layout-alignment-topleft" class="control-layout-alignment-topleft" type="radio" name="control-layout-alignment" value="topleft" tabindex="-1">
          <label for="control-layout-alignment-topleft"><span class="label-icon"></span> <span class="sr-only">Top left</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-topcenter" class="control-layout-alignment-topcenter" type="radio" name="control-layout-alignment" value="topcenter" tabindex="-1">
          <label for="control-layout-alignment-topcenter"><span class="label-icon"></span> <span class="sr-only">Top center</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-topright" class="control-layout-alignment-topright" type="radio" name="control-layout-alignment" value="topright" tabindex="-1">
          <label for="control-layout-alignment-topright"><span class="label-icon"></span> <span class="sr-only">Top right</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-centerleft" class="control-layout-alignment-centerleft" type="radio" name="control-layout-alignment" value="centerleft" tabindex="-1">
          <label for="control-layout-alignment-centerleft"><span class="label-icon"></span> <span class="sr-only">Center left</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-centercenter" class="control-layout-alignment-centercenter" type="radio" name="control-layout-alignment" value="centercenter" tabindex="-1">
          <label for="control-layout-alignment-centercenter"><span class="label-icon"></span> <span class="sr-only">Center center</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-centerright" class="control-layout-alignment-centerright" type="radio" name="control-layout-alignment" value="centerright" tabindex="-1">
          <label for="control-layout-alignment-centerright"><span class="label-icon"></span> <span class="sr-only">Center right</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-bottomleft" class="control-layout-alignment-bottomleft" type="radio" name="control-layout-alignment" value="bottomleft" tabindex="-1">
          <label for="control-layout-alignment-bottomleft"><span class="label-icon"></span> <span class="sr-only">Bottom left</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-bottomcenter" class="control-layout-alignment-bottomcenter" type="radio" name="control-layout-alignment" value="bottomcenter" tabindex="-1">
          <label for="control-layout-alignment-bottomcenter"><span class="label-icon"></span> <span class="sr-only">Bottom Center</span></label>
        </div>
        <div class="form-wrap">
          <input id="control-layout-alignment-bottomright" class="control-layout-alignment-bottomright" type="radio" name="control-layout-alignment" value="bottomright" tabindex="-1">
          <label for="control-layout-alignment-bottomright"><span class="label-icon"></span> <span class="sr-only">Bottom right</span></label>
        </div>
      </div>
    </div>
    <div class="form-helper">
      <p class="control-layout-alignment-helper form-helper-item">Effects may not be visible if the Layout Area is full width or if Bookmarks fill the page.</p>
    </div>
  </div>
</div>
