<div id="menu-content-layout-direction" class="menu-content-item">
  <div class="menu-item-header">
    <h1 class="menu-item-header-text">Direction</h1>
  </div>
  <div class="menu-item-form">
    <div class="form-wrap">
      <input id="control-layout-direction-vertical" class="control-layout-direction-vertical" type="radio" name="control-layout-direction" value="vertical" tabindex="-1">
      <label for="control-layout-direction-vertical"><span class="label-icon"></span> Vertical</label>
    </div>
    <div class="form-wrap">
      <input id="control-layout-direction-horizontal" class="control-layout-direction-horizontal" type="radio" name="control-layout-direction" value="horizontal" tabindex="-1">
      <label for="control-layout-direction-horizontal"><span class="label-icon"></span> Horizontal</label>
    </div>
    <div class="form-helper">
      <p class="control-layout-direction-helper form-helper-item">Only available when Bookmarks are shown.</p>
    </div>
  </div>
</div>
