<div id="menu-content-layout-gutter" class="menu-content-item">
  <div class="menu-item-header">
    <h1 class="menu-item-header-text">Gutter</h1>
  </div>
  <div class="menu-item-form">
    <div class="form-wrap">
      <label for="control-layout-gutter-range">Gutter between Header and Bookmark items</label>
      <div class="form-group form-group-block">
        <input id="control-layout-gutter-range" class="control-layout-gutter-range mr-3" type="range" value="0" tabindex="-1">
        <input class="control-layout-gutter-number form-group-item-medium form-group-radius-left" type="number" value="0" tabindex="-1">
        <button class="control-layout-gutter-default button" tabindex="-1" title="Reset to default"><span class="icon-replay"></span></button>
      </div>
    </div>
  </div>
</div>
