<div id="menu-content-layout-order" class="menu-content-item">
  <div class="menu-item-header">
    <h1 class="menu-item-header-text">Area order</h1>
  </div>
  <div class="menu-item-form">
    <div class="form-wrap">
      <input id="control-layout-order-headerlink" class="control-layout-order-headerlink" type="radio" name="control-layout-order" value="headerlink" tabindex="-1">
      <label for="control-layout-order-headerlink"><span class="label-icon"></span> Header then Bookmarks</label>
    </div>
    <div class="form-wrap">
      <input id="control-layout-order-linkheader" class="control-layout-order-linkheader" type="radio" name="control-layout-order" value="linkheader" tabindex="-1">
      <label for="control-layout-order-linkheader"><span class="label-icon"></span> Bookmarks then Header</label>
    </div>
    <div class="form-helper">
      <p class="control-layout-order-helper form-helper-item">Only available when Bookmarks are shown.</p>
    </div>
  </div>
</div>
