<div id="menu-content-layout-page" class="menu-content-item">
  <div class="menu-item-header">
    <h1 class="menu-item-header-text">Page</h1>
  </div>
  <div class="menu-item-form">
    <div class="form-wrap">
      <label for="control-layout-title">Title</label>
      <div class="form-group form-group-block">
        <input id="control-layout-title" class="control-layout-title" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="New Tab" tabindex="-1">
        <button class="control-layout-title-default button button-line" tabindex="-1" title="Reset to default"><span class="icon-replay"></span></button>
      </div>
    </div>
    <hr>
    <div class="form-wrap">
      <input id="control-layout-scrollpastend" class="control-layout-scrollpastend" type="checkbox" tabindex="-1">
      <label for="control-layout-scrollpastend"><span class="label-icon"></span> Scroll past end</label>
    </div>
    <hr>
    <div class="form-wrap">
      <label class="control-layout-scrollbars-label">Scrollbars style</label>
    </div>
    <div class="form-wrap">
      <input id="control-layout-scrollbars-auto" class="control-layout-scrollbars-auto" type="radio" name="control-layout-scrollbars" value="auto" tabindex="-1">
      <label for="control-layout-scrollbars-auto"><span class="label-icon"></span> Auto</label>
    </div>
    <div class="form-wrap">
      <input id="control-layout-scrollbars-thin" class="control-layout-scrollbars-thin" type="radio" name="control-layout-scrollbars" value="thin" tabindex="-1">
      <label for="control-layout-scrollbars-thin"><span class="label-icon"></span> Thin</label>
    </div>
    <div class="form-wrap">
      <input id="control-layout-scrollbars-none" class="control-layout-scrollbars-none" type="radio" name="control-layout-scrollbars" value="none" tabindex="-1">
      <label for="control-layout-scrollbars-none"><span class="label-icon"></span> Hidden</label>
    </div>
    <div class="form-wrap">
      <p class="control-layout-scrollbars-helper form-helper-item">May not work in some browsers.</p>
    </div>
  </div>
</div>
