<div id="menu-content-layout-scaling" class="menu-content-item">
  <div class="menu-item-header">
    <h1 class="menu-item-header-text">Scaling</h1>
  </div>
  <div class="menu-item-form">
    <div class="form-wrap">
      <label for="control-layout-size-range">Size</label>
      <div class="form-group form-group-block">
        <input id="control-layout-size-range" class="control-layout-size-range mr-3" type="range" value="0" tabindex="-1">
        <input class="control-layout-size-number form-group-item-medium form-group-radius-left" type="number" value="0" tabindex="-1">
        <button class="control-layout-size-default button" tabindex="-1" title="Reset to default"><span class="icon-replay"></span></button>
      </div>
    </div>
    <div class="form-helper">
      <p class="control-layout-size-helper form-helper-item">Resize all elements on the page.</p>
    </div>
    <div class="form-helper">
      <p class="control-layout-size-helper form-helper-item">Take care as some elements could scale up to outside the page.</p>
    </div>
  </div>
</div>
