:root {
  --z-index-background: 1000;
  --z-index-layout: 2000;
  --z-index-showcase: 2000;
  --z-index-toolbar: 3000;
  --z-index-edge: 4000;
  --z-index-dropdown: 5000;
  --z-index-notification: 6000;
  --z-index-shade: 7000;
  --z-index-menu: 8000;
  --z-index-modal: 9000;
  --z-index-suggest: 10000;
}