:root {
  --utility-muted: var(--theme-primary-110);
  --utility-muted-hover: var(--theme-primary-110);
  --utility-muted-focus-active: var(--theme-primary-110);
  --utility-muted-checked: var(--theme-primary-110);
  --utility-muted-disabled: var(--theme-primary-030);
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
}

.list-unstyled li {
  list-style-type: none;
}

.list-unstyled li:not(:last-child) {
  margin-bottom: 0;
}

.list-feature {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.list-feature li {
  padding: 0.25em 0.5em;
  list-style-type: none;
}

.list-feature li:not(:last-child) {
  margin-bottom: 0;
}

.list-inline li {
  display: inline-block;
}

.small {
  font-size: 0.8em;
}

.large {
  font-size: 1.2em;
}

.muted {
  color: hsl(var(--utility-muted));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.d-flex {
  display: flex;
}

.d-horizontal {
  flex-direction: row;
}

.d-vertical {
  flex-direction: column;
}

.d-center {
  align-items: center;
  justify-content: center;
}

.d-gap {
  gap: 1em;
}
