.date {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: var(--theme-font-display-name);
  font-weight: var(--theme-font-display-weight);
  font-style: var(--theme-font-display-style);
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.25em;
  line-height: 1.2;
}

.date-separator,
.date-date,
.date-day,
.date-month,
.date-year {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.date-separator {
  justify-content: center;
  color: rgb(var(--theme-accent));
}

.is-theme-background-type-accent .date-separator {
  justify-content: center;
  color: hsl(var(--theme-accent-text));
}

.date-date,
.date-day,
.date-month,
.date-year {
  justify-content: center;
}

.is-theme-background-type-accent .date-day,
.is-theme-background-type-accent .date-date,
.is-theme-background-type-accent .date-month,
.is-theme-background-type-accent .date-year {
  color: hsl(var(--theme-accent-text));
}

.is-theme-background-type-color .date-day,
.is-theme-background-type-color .date-date,
.is-theme-background-type-color .date-month,
.is-theme-background-type-color .date-year {
  color: hsl(var(--theme-background-color-text));
}

.is-header-item-justify-left .date {
  justify-content: flex-start;
  text-align: left;
}

.is-header-item-justify-center .date {
  justify-content: center;
  text-align: center;
}

.is-header-item-justify-right .date {
  justify-content: flex-end;
  text-align: right;
}
