.icon {
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  display: flex;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: middle;
  overflow: hidden;
  display: block;
}
