.transitional {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: var(--theme-font-display-name);
  font-weight: var(--theme-font-display-weight);
  font-style: var(--theme-font-display-style);
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  line-height: 1.2;
}

.transitional-item {
  font-size: 1.5em;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-theme-background-type-accent .transitional-text {
  color: hsl(var(--theme-accent-text));
}

.is-theme-background-type-accent .transitional-text {
  color: hsl(var(--theme-accent-text));
}

.is-theme-background-type-color .transitional-text {
  color: hsl(var(--theme-background-color-text));
}

.is-header-item-justify-left .transitional {
  justify-content: flex-start;
  text-align: left;
}

.is-header-item-justify-center .transitional {
  justify-content: center;
  text-align: center;
}

.is-header-item-justify-right .transitional {
  justify-content: flex-end;
  text-align: right;
}
