@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(-1.2em, 0, 0);
  }

  20% {
    transform: translate3d(1.2em, 0, 0);
  }

  30% {
    transform: translate3d(-1em, 0, 0);
  }

  40% {
    transform: translate3d(1em, 0, 0);
  }

  50% {
    transform: translate3d(-0.8em, 0, 0);
  }

  60% {
    transform: translate3d(0.8em, 0, 0);
  }

  70% {
    transform: translate3d(-0.3em, 0, 0);
  }

  80% {
    transform: translate3d(0.3em, 0, 0);
  }

  90% {
    transform: translate3d(-0.1em, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
