::selection {
  background-color: rgb(var(--theme-accent));
  color: rgb(var(--white));
}

html {
  font-size: var(--root-font-size);
}

body {
  background-color: var(--background);
  color: rgb(var(--style-neutral-text));
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--font-regular);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color var(--animation-speed-fast) ease-in-out;
}

.is-layout-scroll-past-end body {
  margin-bottom: 40vh;
}

.is-layout-alignment-horizontal-left body {
  align-items: flex-start;
}

.is-layout-alignment-horizontal-center body {
  align-items: center;
}

.is-layout-alignment-horizontal-right body {
  align-items: flex-end;
}

.is-layout-alignment-vertical-top body {
  justify-content: flex-start;
}

.is-layout-alignment-vertical-center body {
  justify-content: center;
}

.is-layout-alignment-vertical-bottom body {
  justify-content: flex-end;
}
