.clock {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: var(--theme-font-display-name);
  font-weight: var(--theme-font-display-weight);
  font-style: var(--theme-font-display-style);
  color: rgb(var(--theme-style-text));
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 1.2;
}

.is-header-item-justify-left .clock {
  justify-content: flex-start;
  text-align: left;
}

.is-header-item-justify-center .clock {
  justify-content: center;
  text-align: center;
}

.is-header-item-justify-right .clock {
  justify-content: flex-end;
  text-align: right;
}

.clock-separator,
.clock-hours,
.clock-minutes,
.clock-seconds,
.clock-meridiem {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.clock-separator {
  justify-content: center;
  color: rgb(var(--theme-accent));
}

.clock-hours,
.clock-minutes,
.clock-seconds,
.clock-meridiem {
  justify-content: center;
  /* min-width: 1.25em; */
}

.is-header-item-justify-left .clock-item:not(:last-child) {
  margin-right: 0.2em;
}

.is-header-item-justify-center .clock-item:not(:first-child) {
  margin-left: 0.1em;
}

.is-header-item-justify-center .clock-item:not(:last-child) {
  margin-right: 0.1em;
}

.is-header-item-justify-right .clock-item:not(:first-child) {
  margin-left: 0.2em;
}

.clock-hours {
  color: rgb(var(--theme-style-text));
}

.clock-minutes,
.clock-seconds,
.clock-meridiem {
  color: rgb(var(--theme-color-16));
}
