.coffee {
  margin-right: 1em;
  font-size: 1em;
  width: calc(calc(calc(var(--coffee-size) / 100) * 1.25) * 1em);
}

.coffee-lid {
  position: relative;
  width: 100%;
}

.coffee-lid-top,
.coffee-lid-bottom {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: calc(calc(calc(var(--coffee-size) / 100) * 0.25) * 1em);
}

.coffee-lid-top {
  background-color: rgb(var(--theme-color-12));
  width: 95%;
  clip-path: polygon(4% 0, 96% 0, 100% 100%, 0 100%);
}

.coffee-lid-bottom {
  background-color: rgb(var(--theme-color-10));
  width: 130%;
}

.coffee-body {
  background-color: rgb(var(--theme-color-20));
  width: 100%;
  height: calc(calc(calc(var(--coffee-size) / 100) * 2) * 1em);
  position: relative;
  transition: background-color var(--layout-transition-extra-fast);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 12% 100%);
}

.coffee-body-label {
  background-color: rgb(var(--theme-color-06));
  width: 100%;
  height: calc(calc(var(--coffee-size) / 100) * 1em);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: background-color var(--layout-transition-extra-fast);
}

.coffee-body-label:before {
  background-color: rgb(var(--theme-accent));
  content: "";
  border-radius: 100%;
  width: calc(calc(calc(var(--coffee-size) / 100) * 0.75) * 1em);
  height: calc(calc(calc(var(--coffee-size) / 100) * 0.75) * 1em);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
