.edge {
  background-color: rgba(var(--theme-accent), 0.2);
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: var(--theme-radius);
  box-shadow: var(--edge-shadow);
  z-index: var(--z-index-edge);
  pointer-events: none;
  transition: opacity var(--layout-timing-extra-fast);
}
