.group {
  padding-top: calc(calc(var(--layout-space) / 2) * var(--layout-padding));
  padding-bottom: calc(calc(var(--layout-space) / 2) * var(--layout-padding));
  padding-left: calc(var(--layout-space) * var(--layout-padding));
  padding-right: calc(var(--layout-space) * var(--layout-padding));
  width: 100%;
  display: flex;
}

.group:first-child {
  padding-top: calc(var(--layout-space) * var(--layout-padding));
}

.group:last-child {
  padding-bottom: calc(var(--layout-space) * var(--layout-padding));
}

.is-group-order-headerbody .group {
  flex-direction: column;
}

.is-group-order-bodyheader .group {
  flex-direction: column-reverse;
}

.is-group-border .group:not(:last-child):not(:only-child) {
  border-bottom: calc(var(--layout-line-width) * var(--group-border)) solid rgb(var(--theme-accent));
}

.is-group-border .group {
  padding: calc(var(--layout-space) * var(--layout-padding));
}

.group-header {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  transition: padding var(--layout-timing-extra-fast) var(--layout-duration-04);
}

.group-header-item {
  display: flex;
}

.is-group-area-justify-center .group-header-item:not(:only-child):not(:last-child),
.is-group-area-justify-left .group-header-item:not(:only-child):not(:last-child) {
  margin-right: calc(var(--layout-space) * var(--layout-gutter));
}

.is-group-area-justify-right .group-header-item:not(:only-child):not(:last-child) {
  margin-left: calc(var(--layout-space) * var(--layout-gutter));
}

.group-header-item-name {
  flex-shrink: 1;
  overflow: hidden;
}

.group-header-item-control {
  height: 0;
  width: 0;
  overflow: hidden;
  flex-shrink: 0;
  transition:
    width var(--layout-timing-extra-fast),
    height var(--layout-timing-extra-fast) var(--layout-duration-04),
    margin var(--layout-timing-extra-fast);
}

.is-edit .group-header-item-control {
  height: 2.5em;
  width: 15em;
  transition:
    width var(--layout-timing-extra-fast) var(--layout-duration-04),
    height var(--layout-timing-extra-fast),
    margin var(--layout-timing-extra-fast) var(--layout-duration-04);
}

.is-group-area-justify-center .group-header-item-control:not(:only-child):not(:last-child),
.is-group-area-justify-left .group-header-item-control:not(:only-child):not(:last-child) {
  margin-right: 0;
}

.is-edit.is-group-area-justify-center .group-header-item-control:not(:only-child):not(:last-child),
.is-edit.is-group-area-justify-left .group-header-item-control:not(:only-child):not(:last-child) {
  margin-right: calc(var(--layout-space) * var(--layout-gutter));
}

.is-group-area-justify-right .group-header-item-control:not(:only-child):not(:last-child) {
  margin-left: 0;
}

.is-edit.is-group-area-justify-right .group-header-item-control:not(:only-child):not(:last-child) {
  margin-left: calc(var(--layout-space) * var(--layout-gutter));
}

.is-edit .group-header {
  transition: padding var(--layout-timing-extra-fast);
}

.is-group-area-justify-left .group-header {
  flex-direction: row;
}

.is-group-area-justify-center .group-header {
  flex-direction: row;
  justify-content: center;
}

.is-group-area-justify-right .group-header {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.is-group-order-headerbody.is-group-openall-show .group-header,
.is-group-order-headerbody.is-group-name-show .group-header,
.is-group-order-headerbody.is-edit .group-header {
  padding-bottom: calc(var(--layout-space) * var(--layout-gutter));
}

.is-group-order-bodyheader.is-group-openall-show .group-header,
.is-group-order-bodyheader.is-group-name-show .group-header,
.is-group-order-bodyheader.is-edit .group-header {
  padding-top: calc(var(--layout-space) * var(--layout-gutter));
}

.group-name {
  height: 2.5em;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  font-size: var(--group-name-size);
}

.group-name-text {
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.group-control-item {
  padding-left: 0;
  padding-right: 0;
  flex-shrink: 0;
  width: 3em;
}

.group-openall {
  font-size: var(--group-openall-size);
}

.group-body {
  background-color: transparent;
  font-size: var(--link-item-size);
  position: relative;
  min-height: var(--link-item-height);
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: calc(var(--layout-space) * var(--layout-gutter));
  grid-template-columns: repeat(auto-fill, minmax(var(--link-item-width), 1fr));
}
