.header {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: var(--z-index-header);
  pointer-events: none;
}

.is-header-color-show .header {
  pointer-events: all;
}

.is-header-area-alignment-left .header {
  justify-content: flex-start;
}

.is-header-area-alignment-center .header {
  justify-content: center;
}

.is-header-area-alignment-right .header {
  justify-content: flex-end;
}

.is-link-show.is-header-position-sticky .header {
  position: sticky;
  left: 0;
}

.is-link-show.is-header-position-inline .header {
  position: relative;
  left: 0;
}

.is-layout-order-headerlink.is-link-show .header {
  top: 0;
}

.is-layout-order-linkheader.is-link-show .header {
  bottom: 0;
}

.header-color {
  background-color: transparent;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: background-color var(--layout-timing-medium), opacity var(--layout-timing-medium), border-radius var(--layout-timing-extra-fast);
}

.is-header-radius .header-color {
  border-radius: calc(var(--theme-radius) * 4);
}

.is-header-color-by-theme.is-header-color-style-always .header-color {
  background-color: rgba(var(--header-color-theme), var(--header-opacity));
}

.is-header-color-by-theme.is-header-color-style-scroll.is-header-color-style-scrolling .header-color {
  background-color: rgba(var(--header-color-theme), var(--header-opacity));
}

.is-header-color-by-custom.is-header-color-style-always .header-color {
  background-color: rgba(var(--header-color-custom), var(--header-opacity));
}

.is-header-color-by-custom.is-header-color-style-scroll.is-header-color-style-scrolling .header-color {
  background-color: rgba(var(--header-color-custom), var(--header-opacity));
}

.header-area {
  padding: calc(var(--layout-space) * var(--layout-padding));
  position: relative;
  width: var(--header-area-width);
  pointer-events: none;
}

.is-header-border-top .header-area {
  border-top: calc(var(--layout-line-width) * var(--header-border-top)) solid transparent;
}

.is-header-border-bottom .header-area {
  border-bottom: calc(var(--layout-line-width) * var(--header-border-bottom)) solid transparent;
}

.header-border {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.is-header-border-top .header-border {
  border-top: calc(var(--layout-line-width) * var(--header-border-top)) solid rgb(var(--theme-accent));
}

.is-header-border-bottom .header-border {
  border-bottom: calc(var(--layout-line-width) * var(--header-border-bottom)) solid rgb(var(--theme-accent));
}

.is-header-radius .header-color {
  border-radius: calc(var(--theme-radius) * 4);
}

.is-header-search-text-alignment-left .header-search-input {
  text-align: left;
}

.is-header-search-text-alignment-center .header-search-input {
  text-align: center;
}

.is-header-search-text-alignment-right .header-search-input {
  text-align: right;
}

.is-header-searching .header-search-input[type="text"] {
  padding-right: 3.5em;
}

.header-search-clear {
  position: absolute;
  top: 0;
  right: 0;
}

.header-item-grid {
  margin: calc(-1 * calc(var(--layout-space) * var(--layout-gutter))) 0 0 calc(-1 * calc(var(--layout-space) * var(--layout-gutter)));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.is-header-item-alignment-left .header-item-grid {
  justify-content: flex-start;
}

.is-header-item-alignment-center .header-item-grid {
  justify-content: center;
}

.is-header-item-alignment-right .header-item-grid {
  justify-content: flex-end;
}

.header-item {
  background-color: transparent;
  margin: calc(var(--layout-space) * var(--layout-gutter)) 0 0 calc(var(--layout-space) * var(--layout-gutter));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  pointer-events: all;
  transition: flex-basis var(--layout-timing-extra-fast);
}

.is-edit .header-item {}

.header-item-body-date,
.header-item-body-clock,
.header-item-body-search,
.header-item-body-button,
.header-item-body-greeting,
.header-item-body-transitional {
  position: relative;
}

.header-item-body-date {
  font-size: var(--header-date-size);
  flex-grow: 1;
}

.header-item-body-clock {
  font-size: var(--header-clock-size);
  flex-grow: 1;
}

.header-item-body-search {
  font-size: var(--header-search-size);
  flex-grow: 1;
}

.header-item-body-button {
  font-size: var(--header-button-size);
  flex-grow: 1;
}

.header-item-body-greeting {
  font-size: var(--header-greeting-size);
  flex-grow: 1;
}

.header-item-body-transitional {
  font-size: var(--header-transitional-size);
  flex-grow: 1;
}

.header-item-date,
.header-item-clock,
.header-item-search,
.header-item-edit-add,
.header-item-coloraccent,
.header-item-greeting,
.header-item-transitional,
.header-item-menu {
  display: flex;
}

.is-header-search-style-auto .header-item-search {
  flex-grow: 1;
  min-width: 10em;
}

.is-header-search-style-custom .header-item-search {
  width: var(--header-search-width);
}

.header-item-sort-placeholder {
  width: 0.5em;
  height: 100%;
}

.header-item-sort-placeholder-edge {
  background-color: rgba(var(--theme-accent), 0.2);
  border-radius: var(--theme-radius);
  width: 100%;
  height: 2.5em;
  position: relative;
  box-shadow: var(--edge-shadow);
  pointer-events: none;
}

.header-item-control {
  margin-right: 0;
  margin-bottom: 0;
  overflow: hidden;
  height: 0;
  width: 0;
  flex-shrink: 0;
  transition:
    width var(--layout-timing-extra-fast) var(--layout-duration-04),
    height var(--layout-timing-extra-fast),
    margin var(--layout-timing-extra-fast);
}

.is-edit .header-item-control {
  height: 2.5em;
  width: 9.6em;
  transition:
    width var(--layout-timing-extra-fast),
    height var(--layout-timing-extra-fast) var(--layout-duration-04),
    margin var(--layout-timing-extra-fast) var(--layout-duration-04);
}

.header-item-control-item {
  padding-left: 1.25em;
  padding-right: 1.25em;
  flex-shrink: 0;
}

.is-edit .header-item-control {
  margin-bottom: 1em;
}
