.shade {
  background-color: rgba(var(--theme-accent), var(--theme-shade-opacity));
  position: fixed;
  top: -1em;
  left: -1em;
  width: calc(100% + 2em);
  height: calc(100% + 2em);
  opacity: 0;
  transition: opacity var(--layout-transition-extra-fast), background-color var(--layout-transition-extra-fast);
  z-index: var(--z-index-shade);
}

.is-theme-accent-cycle .shade {
  transition: opacity var(--layout-transition-extra-fast);
}

.is-edge:not(.is-background-image-show) .shade {
  background-color: rgba(var(--theme-accent), 0.05);
}
