.theme-custom,
.theme-preset {
  padding: 0;
  border-radius: var(--theme-radius);
  width: var(--theme-preset-preview-size);
  height: var(--theme-preset-preview-size);
  position: relative;
  display: block;
  overflow: hidden;
}

.theme-custom-button,
.theme-preset-button {
  border-radius: 0;
  padding: 0;
  line-height: 1.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  overflow: hidden;
  z-index: 2;
  transition: height var(--layout-timing-extra-fast);
}

.is-theme-custom-edit .theme-custom-button {
  height: calc(var(--theme-preset-preview-size) / 2);
}

.theme-custom-remove-button {
  border-radius: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--theme-preset-preview-size);
  height: 0;
  min-height: inherit;
  overflow: hidden;
  z-index: 1;
  transition: height var(--layout-timing-extra-fast);
}

.is-theme-custom-edit .theme-custom-remove-button {
  height: calc(var(--theme-preset-preview-size) / 2);
}

.theme-custom-button:after,
.theme-preset-button:after {
  content: none;
}

.theme-custom-preview,
.theme-preset-preview {
  width: var(--theme-preset-preview-size);
  height: var(--theme-preset-preview-size);
  position: relative;
}

.theme-custom-background-01,
.theme-custom-background-02,
.theme-custom-background-03,
.theme-custom-background-04,
.theme-custom-accent,
.theme-preset-background-01,
.theme-preset-background-02,
.theme-preset-background-03,
.theme-preset-background-04,
.theme-preset-accent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: clip-path var(--layout-timing-extra-fast);
}

.theme-custom-background-01,
.theme-preset-background-01 {
  z-index: 1;
}

.theme-custom-background-02,
.theme-preset-background-02 {
  z-index: 2;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 70%);
  transition-delay: 0s;
}

.theme-custom-background-03,
.theme-preset-background-03 {
  z-index: 3;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
  transition-delay: 0s;
}

.theme-custom-background-04,
.theme-preset-background-04 {
  z-index: 4;
  clip-path: polygon(100% 30%, 100% 100%, 30% 100%);
  transition-delay: 0s;
}

.theme-custom-accent,
.theme-preset-accent {
  clip-path: circle(30% at 100% 100%);
  z-index: 5;
}

.theme-custom-name,
.theme-preset-name {
  max-width: calc(100% - 2em);
  max-height: calc(100% - 2em);
  position: absolute;
  top: 1em;
  left: 1em;
  display: block;
  z-index: 6;
  text-align: left;
  color: rgb(var(--theme-style-text));
  font-weight: 700;
  font-style: normal;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  transform: scale(1);
  transition: transform var(--layout-timing-extra-fast);
}

.theme-custom-button:focus .theme-custom-background-02,
.theme-custom-button:hover .theme-custom-background-02,
.theme-preset-button:focus .theme-preset-background-02,
.theme-preset-button:hover .theme-preset-background-02 {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 60%);
  transition-delay: var(--layout-duration-01);
}

.theme-custom-button:focus .theme-custom-background-03,
.theme-custom-button:hover .theme-custom-background-03,
.theme-preset-button:focus .theme-preset-background-03,
.theme-preset-button:hover .theme-preset-background-03 {
  clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 90%);
  transition-delay: var(--layout-duration-02);
}

.theme-custom-button:focus .theme-custom-background-04,
.theme-custom-button:hover .theme-custom-background-04,
.theme-preset-button:focus .theme-preset-background-04,
.theme-preset-button:hover .theme-preset-background-04 {
  clip-path: polygon(100% 20%, 100% 100%, 20% 100%);
  transition-delay: var(--layout-duration-03);
}

.theme-custom-button:focus .theme-custom-accent,
.theme-custom-button:hover .theme-custom-accent,
.theme-preset-button:focus .theme-preset-accent,
.theme-preset-button:hover .theme-preset-accent {
  clip-path: circle(40% at 100% 100%);
  transition-delay: var(--layout-duration-04);
}

.theme-preset-background-nighttab-01 {
  background-color: rgb(var(--theme-preset-background-nighttab-01));
}

.theme-preset-background-nighttab-02 {
  background-color: rgb(var(--theme-preset-background-nighttab-02));
}

.theme-preset-background-nighttab-03 {
  background-color: rgb(var(--theme-preset-background-nighttab-03));
}

.theme-preset-background-nighttab-04 {
  background-color: rgb(var(--theme-preset-background-nighttab-04));
}

.theme-preset-accent-nighttab {
  background-color: rgb(var(--theme-preset-accent-nighttab));
}

.theme-preset-background-midnight-01 {
  background-color: rgb(var(--theme-preset-background-midnight-01));
}

.theme-preset-background-midnight-02 {
  background-color: rgb(var(--theme-preset-background-midnight-02));
}

.theme-preset-background-midnight-03 {
  background-color: rgb(var(--theme-preset-background-midnight-03));
}

.theme-preset-background-midnight-04 {
  background-color: rgb(var(--theme-preset-background-midnight-04));
}

.theme-preset-accent-midnight {
  background-color: rgb(var(--theme-preset-accent-midnight));
}

.theme-preset-background-pym-01 {
  background-color: rgb(var(--theme-preset-background-pym-01));
}

.theme-preset-background-pym-02 {
  background-color: rgb(var(--theme-preset-background-pym-02));
}

.theme-preset-background-pym-03 {
  background-color: rgb(var(--theme-preset-background-pym-03));
}

.theme-preset-background-pym-04 {
  background-color: rgb(var(--theme-preset-background-pym-04));
}

.theme-preset-accent-pym {
  background-color: rgb(var(--theme-preset-accent-pym));
}

.theme-preset-background-cruiser-01 {
  background-color: rgb(var(--theme-preset-background-cruiser-01));
}

.theme-preset-background-cruiser-02 {
  background-color: rgb(var(--theme-preset-background-cruiser-02));
}

.theme-preset-background-cruiser-03 {
  background-color: rgb(var(--theme-preset-background-cruiser-03));
}

.theme-preset-background-cruiser-04 {
  background-color: rgb(var(--theme-preset-background-cruiser-04));
}

.theme-preset-accent-cruiser {
  background-color: rgb(var(--theme-preset-accent-cruiser));
}

.theme-preset-background-sharpmint-01 {
  background-color: rgb(var(--theme-preset-background-sharpmint-01));
}

.theme-preset-background-sharpmint-02 {
  background-color: rgb(var(--theme-preset-background-sharpmint-02));
}

.theme-preset-background-sharpmint-03 {
  background-color: rgb(var(--theme-preset-background-sharpmint-03));
}

.theme-preset-background-sharpmint-04 {
  background-color: rgb(var(--theme-preset-background-sharpmint-04));
}

.theme-preset-accent-sharpmint {
  background-color: rgb(var(--theme-preset-accent-sharpmint));
}

.theme-preset-background-snowglow-01 {
  background-color: rgb(var(--theme-preset-background-snowglow-01));
}

.theme-preset-background-snowglow-02 {
  background-color: rgb(var(--theme-preset-background-snowglow-02));
}

.theme-preset-background-snowglow-03 {
  background-color: rgb(var(--theme-preset-background-snowglow-03));
}

.theme-preset-background-snowglow-04 {
  background-color: rgb(var(--theme-preset-background-snowglow-04));
}

.theme-preset-accent-snowglow {
  background-color: rgb(var(--theme-preset-accent-snowglow));
}

.theme-preset-background-rumble-01 {
  background-color: rgb(var(--theme-preset-background-rumble-01));
}

.theme-preset-background-rumble-02 {
  background-color: rgb(var(--theme-preset-background-rumble-02));
}

.theme-preset-background-rumble-03 {
  background-color: rgb(var(--theme-preset-background-rumble-03));
}

.theme-preset-background-rumble-04 {
  background-color: rgb(var(--theme-preset-background-rumble-04));
}

.theme-preset-accent-rumble {
  background-color: rgb(var(--theme-preset-accent-rumble));
}

.theme-preset-background-sollight-01 {
  background-color: rgb(var(--theme-preset-background-sollight-01));
}

.theme-preset-background-sollight-02 {
  background-color: rgb(var(--theme-preset-background-sollight-02));
}

.theme-preset-background-sollight-03 {
  background-color: rgb(var(--theme-preset-background-sollight-03));
}

.theme-preset-background-sollight-04 {
  background-color: rgb(var(--theme-preset-background-sollight-04));
}

.theme-preset-accent-sollight {
  background-color: rgb(var(--theme-preset-accent-sollight));
}

.theme-preset-background-artdeco-01 {
  background-color: rgb(var(--theme-preset-background-artdeco-01));
}

.theme-preset-background-artdeco-02 {
  background-color: rgb(var(--theme-preset-background-artdeco-02));
}

.theme-preset-background-artdeco-03 {
  background-color: rgb(var(--theme-preset-background-artdeco-03));
}

.theme-preset-background-artdeco-04 {
  background-color: rgb(var(--theme-preset-background-artdeco-04));
}

.theme-preset-accent-artdeco {
  background-color: rgb(var(--theme-preset-accent-artdeco));
}

.theme-preset-background-macaroon-01 {
  background-color: rgb(var(--theme-preset-background-macaroon-01));
}

.theme-preset-background-macaroon-02 {
  background-color: rgb(var(--theme-preset-background-macaroon-02));
}

.theme-preset-background-macaroon-03 {
  background-color: rgb(var(--theme-preset-background-macaroon-03));
}

.theme-preset-background-macaroon-04 {
  background-color: rgb(var(--theme-preset-background-macaroon-04));
}

.theme-preset-accent-macaroon {
  background-color: rgb(var(--theme-preset-accent-macaroon));
}

.theme-preset-background-hotpepper-01 {
  background-color: rgb(var(--theme-preset-background-hotpepper-01));
}

.theme-preset-background-hotpepper-02 {
  background-color: rgb(var(--theme-preset-background-hotpepper-02));
}

.theme-preset-background-hotpepper-03 {
  background-color: rgb(var(--theme-preset-background-hotpepper-03));
}

.theme-preset-background-hotpepper-04 {
  background-color: rgb(var(--theme-preset-background-hotpepper-04));
}

.theme-preset-accent-hotpepper {
  background-color: rgb(var(--theme-preset-accent-hotpepper));
}

.theme-preset-background-steel-01 {
  background-color: rgb(var(--theme-preset-background-steel-01));
}

.theme-preset-background-steel-02 {
  background-color: rgb(var(--theme-preset-background-steel-02));
}

.theme-preset-background-steel-03 {
  background-color: rgb(var(--theme-preset-background-steel-03));
}

.theme-preset-background-steel-04 {
  background-color: rgb(var(--theme-preset-background-steel-04));
}

.theme-preset-accent-steel {
  background-color: rgb(var(--theme-preset-accent-steel));
}

.theme-preset-background-outrun-01 {
  background-color: rgb(var(--theme-preset-background-outrun-01));
}

.theme-preset-background-outrun-02 {
  background-color: rgb(var(--theme-preset-background-outrun-02));
}

.theme-preset-background-outrun-03 {
  background-color: rgb(var(--theme-preset-background-outrun-03));
}

.theme-preset-background-outrun-04 {
  background-color: rgb(var(--theme-preset-background-outrun-04));
}

.theme-preset-accent-outrun {
  background-color: rgb(var(--theme-preset-accent-outrun));
}

.theme-preset-background-pumpkin-01 {
  background-color: rgb(var(--theme-preset-background-pumpkin-01));
}

.theme-preset-background-pumpkin-02 {
  background-color: rgb(var(--theme-preset-background-pumpkin-02));
}

.theme-preset-background-pumpkin-03 {
  background-color: rgb(var(--theme-preset-background-pumpkin-03));
}

.theme-preset-background-pumpkin-04 {
  background-color: rgb(var(--theme-preset-background-pumpkin-04));
}

.theme-preset-accent-pumpkin {
  background-color: rgb(var(--theme-preset-accent-pumpkin));
}

.theme-preset-background-bubblegum-01 {
  background-color: rgb(var(--theme-preset-background-bubblegum-01));
}

.theme-preset-background-bubblegum-02 {
  background-color: rgb(var(--theme-preset-background-bubblegum-02));
}

.theme-preset-background-bubblegum-03 {
  background-color: rgb(var(--theme-preset-background-bubblegum-03));
}

.theme-preset-background-bubblegum-04 {
  background-color: rgb(var(--theme-preset-background-bubblegum-04));
}

.theme-preset-accent-bubblegum {
  background-color: rgb(var(--theme-preset-accent-bubblegum));
}

.theme-preset-background-elderbean-01 {
  background-color: rgb(var(--theme-preset-background-elderbean-01));
}

.theme-preset-background-elderbean-02 {
  background-color: rgb(var(--theme-preset-background-elderbean-02));
}

.theme-preset-background-elderbean-03 {
  background-color: rgb(var(--theme-preset-background-elderbean-03));
}

.theme-preset-background-elderbean-04 {
  background-color: rgb(var(--theme-preset-background-elderbean-04));
}

.theme-preset-accent-elderbean {
  background-color: rgb(var(--theme-preset-accent-elderbean));
}
