.theme-preset-item,
.theme-custom-item {
  width: var(--theme-preset-preview-size);
  height: var(--theme-preset-preview-size);
  border-radius: var(--theme-radius);
  padding: 0;
  margin: 0.5em;
  position: relative;
  overflow: hidden;
}

.theme-preset-button,
.theme-custom-button {
  padding: 0;
  border-radius: 0;
  width: var(--theme-preset-preview-size);
  height: var(--theme-preset-preview-size);
  line-height: 1.6;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  z-index: 2;
  transition: height var(--layout-timing-extra-fast), box-shadow var(--layout-timing-extra-fast);
}

.theme-preset-button:after,
.theme-custom-button::after {
  content: none;
}

.theme-custom-control {
  width: var(--theme-preset-preview-size);
  height: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 1;
  transition: height var(--layout-timing-extra-fast);
}

.theme-custom-control-item {
  padding: 0;
  border-radius: 0;
  flex: 1 1 auto;
}

.theme-custom-control-item:after {
  border-radius: 0;
}

.is-theme-custom-edit .theme-custom-button {
  height: calc(var(--theme-preset-preview-size) - var(--theme-custom-edit-height));
  box-shadow: var(--layout-shadow-medium);
}

.is-theme-custom-edit .theme-custom-control {
  height: var(--theme-custom-edit-height);
}

.theme-preset-preview,
.theme-custom-preview {
  width: var(--theme-preset-preview-size);
  height: var(--theme-preset-preview-size);
  position: absolute;
  top: 0;
  left: 0;
}

.theme-preset-background-01,
.theme-preset-background-02,
.theme-preset-background-03,
.theme-preset-background-04,
.theme-preset-accent,
.theme-custom-background-01,
.theme-custom-background-02,
.theme-custom-background-03,
.theme-custom-background-04,
.theme-custom-accent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: clip-path var(--layout-timing-extra-fast);
}

.theme-preset-background-01,
.theme-custom-background-01 {
  z-index: 1;
}

.theme-preset-background-02,
.theme-custom-background-02 {
  z-index: 2;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 70%);
  transition-delay: var(--layout-duration-03);
}

.theme-preset-background-03,
.theme-custom-background-03 {
  z-index: 3;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
  transition-delay: var(--layout-duration-02);
}

.theme-preset-background-04,
.theme-custom-background-04 {
  z-index: 4;
  clip-path: polygon(100% 30%, 100% 100%, 30% 100%);
  transition-delay: var(--layout-duration-01);
}

.theme-preset-accent,
.theme-custom-accent {
  z-index: 5;
  clip-path: circle(30% at 100% 100%);
}

.is-theme-custom-edit .theme-custom-accent {
  clip-path: circle(30% at 100% 60%);
}

.theme-preset-name,
.theme-custom-name {
  color: rgb(var(--theme-style-text));
  font-style: normal;
  font-size: 0.8em;
  text-align: left;
  display: block;
  max-width: calc(100% - 2em);
  max-height: calc(100% - 2em);
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  transform: scale(1);
  transition: transform var(--layout-timing-extra-fast);
}

.theme-preset-button:focus .theme-preset-background-02,
.theme-preset-button:hover .theme-preset-background-02,
.theme-custom-button:focus .theme-custom-background-02,
.theme-custom-button:hover .theme-custom-background-02 {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 60%);
}

.theme-preset-button:focus .theme-preset-background-03,
.theme-preset-button:hover .theme-preset-background-03,
.theme-custom-button:focus .theme-custom-background-03,
.theme-custom-button:hover .theme-custom-background-03 {
  clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 90%);
}

.theme-preset-button:focus .theme-preset-background-04,
.theme-preset-button:hover .theme-preset-background-04,
.theme-custom-button:focus .theme-custom-background-04,
.theme-custom-button:hover .theme-custom-background-04 {
  clip-path: polygon(100% 20%, 100% 100%, 20% 100%);
}

.theme-preset-button:focus .theme-preset-accent,
.theme-preset-button:hover .theme-preset-accent,
.theme-custom-button:focus .theme-custom-accent,
.theme-custom-button:hover .theme-custom-accent {
  clip-path: circle(40% at 100% 100%);
}

.is-theme-custom-edit .theme-custom-button:focus .theme-custom-accent,
.is-theme-custom-edit .theme-custom-button:hover .theme-custom-accent {
  clip-path: circle(40% at 100% 60%);
}
