h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  font-weight: normal;
  line-height: 1.6;
  color: rgb(var(--theme-color-18));
}

h1 {
  font-size: 1.5em;
  font-family: var(--theme-font-display-name);
  font-weight: var(--theme-font-display-weight);
  font-style: var(--theme-font-display-style);
}

h2 {
  font-size: 1.2em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
}

h3 {
  font-size: 1.1em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
}

h4 {
  font-size: 1em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
}

h5 {
  font-size: 1em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  font-weight: bold;
}

h6 {
  font-size: 0.75em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  font-weight: bold;
}

p {
  color: rgb(var(--theme-color-16));
  margin: 0;
  line-height: 1.6;
}

p:not(:last-child) {
  margin-bottom: 0.5em;
}

hr {
  border: 0;
  border-top: var(--horizontal-rule-small);
  border-radius: var(--theme-radius);
  margin: calc(var(--form-wrap-space) * 1.5) 0;
  clear: both;
  transition: border-color var(--layout-timing-extra-fast);
}

b,
caption,
strong {
  color: rgb(var(--theme-style-text));
  font-family: var(--theme-font-ui-name);
  font-weight: 700;
}

i {
  font-style: italic;
}

a {
  color: rgb(var(--theme-color-16));
  text-decoration: underline;
  transition: text-decoration var(--layout-timing-extra-fast);
}

a:link,
a:visited {
  color: rgb(var(--theme-color-18));
}

a:focus {
  text-decoration-color: rgb(var(--theme-style-text));
  outline: none;
}

a:hover {
  color: rgb(var(--theme-style-text));
  text-decoration-color: rgb(var(--theme-accent));
}

a:active {
  color: rgb(var(--theme-style-text));
  text-decoration-color: rgb(var(--theme-style-text));
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

ol:not(:last-child),
ul:not(:last-child) {
  margin-bottom: 1em;
}

li {
  margin: 0;
}

li>ul,
li>ol {
  margin: 0;
}

li:not(:last-child) {
  margin-bottom: 0.5em;
}

li>ul:not(:last-child),
li>ol:not(:last-child) {
  margin-bottom: 0.5em;
}

table {
  border: 0;
  margin: 0 0 1em;
  padding: 0;
  width: 100%;
  border-spacing: 0;
}

table thead tr td,
table thead tr th {
  background-color: rgb(var(--theme-color-03));
  border: 0;
  border-bottom: 1px solid rgb(var(--theme-color-04));
  padding: 0.5em;
  margin: 0;
  text-align: left;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  font-weight: bold;
  box-sizing: border-box;
}

table tr:nth-child(odd) {
  background-color: rgb(var(--theme-color-02));
}

table tbody tr td,
table tbody tr th {
  padding: 0.25em 0.5em;
  margin: 0;
  border: 0;
  text-align: left;
  box-sizing: border-box;
}

code {
  background-color: rgb(var(--theme-color-04));
  padding: 0.2em 0.5em;
  border-radius: var(--theme-radius);
}
