.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
}

.list-unstyled li {
  list-style-type: none;
}

.list-unstyled li:not(:last-child) {
  margin-bottom: 0;
}

.list-inline li {
  display: inline-block;
}

.small {
  font-size: 0.8em;
}

.muted {
  color: rgb(var(--theme-gray-12));
}

.scroll-disabled {
  overflow: hidden;
}

.scroll-x-disabled {
  overflow-x: hidden;
}

.scroll-y-disabled {
  overflow-y: hidden;
}

.is-shake {
  animation: shake var(--layout-timing-slow) 1;
}

.is-pop {
  animation: pop var(--layout-timing-medium) 1;
}

.is-jello {
  animation: jello var(--layout-timing-slow) 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.color-demo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.color-box {
  flex: 1 1 auto;
  height: 2.5em;
}

.color-box-neg-10 {background-color: rgb(var(--theme-gray-01));}
.color-box-neg-09 {background-color: rgb(var(--theme-gray-02));}
.color-box-neg-08 {background-color: rgb(var(--theme-gray-03));}
.color-box-neg-07 {background-color: rgb(var(--theme-gray-04));}
.color-box-neg-06 {background-color: rgb(var(--theme-gray-05));}
.color-box-neg-05 {background-color: rgb(var(--theme-gray-06));}
.color-box-neg-04 {background-color: rgb(var(--theme-gray-07));}
.color-box-neg-03 {background-color: rgb(var(--theme-gray-08));}
.color-box-neg-02 {background-color: rgb(var(--theme-gray-09));}
.color-box-neg-01 {background-color: rgb(var(--theme-gray-10));}

.color-box-mid {background-color: rgb(var(--theme-gray));}

.color-box-pos-01 {background-color: rgb(var(--theme-gray-11));}
.color-box-pos-02 {background-color: rgb(var(--theme-gray-12));}
.color-box-pos-03 {background-color: rgb(var(--theme-gray-13));}
.color-box-pos-04 {background-color: rgb(var(--theme-gray-14));}
.color-box-pos-05 {background-color: rgb(var(--theme-gray-15));}
.color-box-pos-06 {background-color: rgb(var(--theme-gray-16));}
.color-box-pos-07 {background-color: rgb(var(--theme-gray-17));}
.color-box-pos-08 {background-color: rgb(var(--theme-gray-18));}
.color-box-pos-09 {background-color: rgb(var(--theme-gray-19));}
.color-box-pos-10 {background-color: rgb(var(--theme-gray-20));}

.color-box-wide {width: 3.5em;}
