.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
}

.list-unstyled li {
  list-style-type: none;
}

.list-inline li {
  display: inline-block;
}

.small {
  font-size: 0.8em;
}

.muted {
  color: rgb(var(--theme-gray-12));
}

.scroll-disabled {
  overflow: hidden;
}

.scroll-x-disabled {
  overflow-x: hidden;
}

.scroll-y-disabled {
  overflow-y: hidden;
}

.is-shake {
  animation: shake var(--layout-animation-speed-slow) 1;
}

.is-pop {
  animation: pop var(--layout-animation-speed-fast) 1;
}
