h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  font-weight: normal;
  line-height: 1.6;
  color: hsl(var(--theme-primary-text-010));
}

h1 {
  font-size: 1.5em;
  font-family: var(--theme-font-display-name);
  font-weight: var(--theme-font-display-weight);
  font-style: var(--theme-font-display-style);
}

h2 {
  font-size: 1.3em;
  font-family: var(--theme-font-display-name);
  font-weight: var(--theme-font-display-weight);
  font-style: var(--theme-font-display-style);
}

h3 {
  font-size: 1.1em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
}

h4 {
  font-size: 1em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
}

h5 {
  font-size: 1em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  font-weight: bold;
}

h6 {
  font-size: 0.75em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  font-weight: bold;
}

p {
  color: hsl(var(--theme-primary-text-010));
  margin: 0;
  line-height: 1.6;
}

p:not(:last-child) {
  margin-bottom: 0.5em;
}

hr {
  border: 0;
  border-top: var(--layout-horizontal-rule-small);
  border-radius: calc(var(--theme-radius) * 0.01em);
  margin: calc(var(--wrap-space) * 2) 0;
  clear: both;
  transition: border-color var(--layout-transition-extra-fast);
}

b,
caption,
strong {
  color: hsl(var(--theme-primary-text-010));
  font-family: var(--theme-font-ui-name);
  font-weight: 600;
}

i {
  font-style: italic;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  padding-bottom: 2px;
  border: 0;
  color: hsl(var(--theme-primary-text-010));
  text-decoration: none;
  outline: none;
}

a:link,
a:visited {
  color: hsl(var(--theme-primary-text-010));
  border-bottom: 1px solid hsl(var(--theme-primary-text-010));
  transition: color var(--layout-transition-extra-fast), border var(--layout-transition-extra-fast), padding var(--layout-transition-extra-fast);
}

a:hover,
a:active {
  border-bottom-color: rgb(var(--theme-accent));
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

ol:not(:last-child),
ul:not(:last-child) {
  margin-bottom: 1em;
}

li {
  margin: 0;
}

li>ul,
li>ol {
  margin: 0;
}

li:not(:last-child) {
  margin-bottom: 0.5em;
}

li>ul:not(:last-child),
li>ol:not(:last-child) {
  margin-bottom: 0.5em;
}

table {
  border: 0;
  margin: 0 0 1em;
  padding: 0;
  width: 100%;
  border-spacing: 0;
}

table thead tr td,
table thead tr th {
  background-color: hsl(var(--theme-primary-030));
  border: 0;
  border-bottom: 1px solid hsl(var(--theme-primary-040));
  padding: 0.5em;
  margin: 0;
  text-align: left;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  font-weight: bold;
  box-sizing: border-box;
}

table tr:nth-child(odd) {
  background-color: hsl(var(--theme-primary-020));
}

table tbody tr td,
table tbody tr th {
  padding: 0.25em 0.5em;
  margin: 0;
  border: 0;
  text-align: left;
  box-sizing: border-box;
}

code {
  background-color: hsl(var(--theme-primary-040));
  padding: 0.2em 0.5em;
  border-radius: calc(var(--theme-radius) * 0.01em);
}