name: Run tests

on: [push, pull_request]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Dependecies & Test
        uses: actions/setup-node@v3
        with:
          node-version: '12' # TODO IDK what version nighttab is built with normally.
          cache: 'npm'
      - run: |
          npm install
          npm run lint
          npm test
